body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 70%;
    border-left-color: black;
    border-right-color: black;
   
}
.modals, .page-title{
    text-align: center;
}
.content{
    background-color: whitesmoke;
}
h3{
    color: #2b3a48;
}
th{
    color: #e2d350de;
}
#delete-inc, #delete-exp{
    background-color: #c7c5bc;
    border: none;
}
.saving{
    text-align: right;
    color: rgb(117, 110, 110);
}
footer {
    background-color: white;
    color: rgb(172, 166, 166);
    text-align: center;
 }